Okinawa Prefecture, JP
<br>
Give me a 3 day itinerary
<br>
Day 1:
<br>
﻿
Breakfast
<br>
10:15am: 
<br>
琉球銘菓 三矢 (Donut Shop)
﻿
<br>
Lunch
<br>
12:30pm: ひがし食堂 (Teishoku)
﻿
<br>
2:45pm: ネオパークオキナワ (Zoo)
﻿
Dinner
6:20pm: カレー屋 たんぽぽ (Japanese Curry)
﻿
﻿
Day 2:
﻿
10:25am: Experience a lush oasis at Southeast Botanical Gardens, home to over 30,000 local and exotic flora species.
Explore the picturesque walkways, canals, gates, and bridges that connect the gardens. Meet spider monkeys, goats, and
capybaras at the petting zoo. Join regular educational programs for all ages, including treasure hunts and handicraft
workshops. Dine at the on-site restaurant or bring your own picnic. Don't forget to stop by the small gift shop before
you leave.
﻿
Lunch
12:40pm: Pizza in the Sky (花人逢) (Pizza)
﻿
2:55pm: Chibana Dog Park (Park)
﻿
Dinner
6:20pm: Jack's Steak House (ジャッキーステーキハウス) (Steakhouse)
﻿
﻿
Day 3:
﻿
10:25am: Shurijo Castle Park (首里城公園) (Castle)
﻿
Dinner
6:20pm: Indulge in the freshest seafood at Oyster Shack Naha Sakurazaka! This cozy restaurant offers oysters every day,
grilled to perfection right at your table. Add some oyster soy sauce for an extra kick. Don't miss out on their
all-you-can-eat offer and try their scallops, shrimp, and other seafood. Perfect for a lunch date with a friend, enjoy
an all-you-can-drink lunch hour. Come and satisfy your seafood cravings at Oyster Shack!
﻿