<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  
  <link href="css/styles.css" rel="stylesheet" />
</head>



<div class="container">
  <div class="half"> Left Side</div>
  <div class="half">Right Side</div>

  Okinawa Prefecture, JP
  <br>
  Give me a 1 day itinerary
  <br>
  Day 1:
  <br>
  ﻿
  Breakfast
  <br>
  10:15am: 
  <br>
  琉球銘菓 三矢 (Donut Shop)
  ﻿
  <br>
  Lunch
  <br>
  12:30pm: ひがし食堂 (Teishoku)
  ﻿
  <br>
  2:45pm: ネオパークオキナワ (Zoo)
  ﻿
  Dinner
  6:20pm: カレー屋 たんぽぽ (Japanese Curry)
</div>
