<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Wlcome to okinawa Trip Concierge Okinawa </title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
    type="text/css" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
  <div class="row mt-12">
  
<div class="col-md-4">aaaaa</div>
<div class="col-md-4">

<div class="card" style="width:600px;">
  <div class="row no-gutters">
    <div class="col-lg-12">
      <div class="container">
      
  
    </div>
    <div class="container">
      <div class="row">
        <!-- 左側の大きい画像 -->
        <div class="col-md-6">
          <a href="/show3">
            <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}">
          </a>
        </div>
        <!-- 右側の4枚の画像 -->
        <div class="col-md-6">
          <div class="row">
            <div class="col-6">
              <a href="/show3">
                <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}">
              </a>
            </div>
            <div class="col-6">
              <a href="/show3">
                <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}">
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <a href="/show3">
                <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}">
              </a>
            </div>
            <div class="col-6">
              <a href="/show3">
                <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}">
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>
<br>
<br>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4"
    aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#signup">今すぐご予約</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/show4">朝食メニュー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">アクセス（各公式サイトのからスクレピング）</a>
      </li>
    </ul>
  </div>
</nav>









    <!-- データの各行を表示 -->
    {% for row in data %}
   
      {% for value in row %}
     {{value}} 
     <br>
      {% endfor %}
    
    {% endfor %}
  
<br>

<!-- データの各行を表示 公式予約-->
{% for row in data %}

{% for value in row %}
{{value2}}
<br>
{% endfor %}

{% endfor %}

<!-- データの各行を表示 朝食-->
{% for row in data %}

{% for value in row %}
{{value4}}
<br>
{% endfor %}

{% endfor %}


<!-- データの各行を表示 アクセス-->
{% for row in data %}

{% for value in row %}
{{value5}}
<br>
{% endfor %}

{% endfor %}

</body>

   