<div class="card" style="width:600px;">
  <div class="row no-gutters">
    <div class="col-lg-6">
      <img class="card-img"><a href="/show3">src="{{ url_for('static', filename='img/0a732411.jpg') }}</a>" alt="Card
      image">
      <br>
      <br>
      <br>
      <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}" alt="Card image">
      <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}" alt="Card image">
      <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}" alt="Card image">
      <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}" alt="Card image">
      <img class="card-img" src="{{ url_for('static', filename='img/0a732411.jpg') }}" alt="Card image">
    </div>

    ハレクラニ沖縄
    Halekulani Okinawa
    5.0 つ星宿泊施設
    フルサービス スパがある海辺の 5 つ星ホテル
    10段階中9.6 最高に素晴らしい
    9.6/10 (最高に素晴らしい)
    1,406 件の口コミをすべて表示
    人気の設備とサービス
    プール
    スパ
    WiFi 無料
    レストラン
    冷房
    ジム
    
    すべて表示
    施設の設備とサービスをすべて表示
    地図地図
    904-0401, 沖縄県, 国頭郡, 恩納村名嘉真 1967-1
    地図で表示
    周辺ガイド
    希望が丘ビーチ
    徒歩 4 分
    かりゆしビーチ
    徒歩 20 分
    ブセナ ビーチ
    車で 2 分
    那覇 (OKA)
    車で 63 分
    VIP Access
    ブルー
    ブルー tier member
    常に高評価の施設で、上質なひとときと優れたサービスをお楽しみいただけます。
    シルバーまたはゴールド会員にランクアップすると、以下の特典をご利用いただけます。
    Silver
    Silver tier member
    食事・飲み物のサービス、無料の朝食、または駐車場の優待特典
    Gold
    Gold tier member
    シルバー会員特典に加えて、客室のアップグレード (空室がある場合)
    VIP Access 提携施設の特典の詳細はこちら新しいウィンドウで開く