<DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Hello</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
  <table class="table table-striped">
    {% for d in data %}
    <tr>
      <td>{{ d[0] }}</td>
      <td>{{ d[1] }}</td>
      <td>{{ d[2] }}</td>
      <td>{{ d[3] }}</td>

    </tr>
    {% endfor %}
  </table>
    {% if username %}
    Hello {{ username}}
    {% else %}
    Hello
    {% endif %}



  </body>

  </html>


  